In [11]:
#converting from one data type to another data type/type convertion

a = input("Type your name : ")
b = int(input("What is your age: "))
print("Your name is : ", a + "\nYour age is : ",b)
print(type(a))
print(type(b))

Type your name : Tunde
What is your age: 20
Your name is :  Tunde
Your age is :  20
<class 'str'>
<class 'int'>

In [12]:
# varriable set
a = {1,2,3,4,5}
print(a)
print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

In [13]:
#Varriable list
a = [1,2,3,4,5]
print(a)
print(type(a))

[1, 2, 3, 4, 5]
<class 'list'>

In [14]:
#varraible tuple
a = (1,2,3,4,5)
print(a)
print(type(a))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [15]:
#varriable string
a = "true"
print(a)
print(type(a))

true
<class 'str'>