# Creating a turple

In [1]:
# Creating a turple
t1 = (1,2,3,4,5,"orange","Apple","Sword")
print(t1)

(1, 2, 3, 4, 5, 'orange', 'Apple', 'Sword')

# Lenth of a turple

In [3]:
#getting to know the lenght of a turple

t2 = (1,2,3,4,4,5,5,6,6,6,4,5,7)
print("Size of turple : ", len(t2))

Size of turple :  13

# Accessing/Slicing turple

In [5]:
# Printing the first index of a turple
t1 = (1,2,3,4,5,"orange","Apple","Sword")
print("Current turple")
print("First Index of a number : ",t1[1])

Current turple
First Index of a number :  2

In [6]:
# Accesssing the index between 1 to 6
t1 = (1,2,3,4,5,"orange","Apple","Sword")
print("Current turple")

print("Index between 1 to 6 : ",t1[1:6])

Current turple
Index between 1 to 6 :  (2, 3, 4, 5, 'orange')

In [9]:
#Accessing the last value of a turple
t1 = (1,2,3,4,5,"orange","Apple","Sword")
print("current turple: ",t1)

print("Last value of a turple : ",t1[-1])

current turple:  (1, 2, 3, 4, 5, 'orange', 'Apple', 'Sword')
Last value of a turple :  Sword

In [7]:
#Accessing the first 6 index of a turple
t1 = (1,2,3,4,5,"orange","Apple","Sword")
print("current turple : ")
print("Current turple : ",t1[:6])

current turple :
Current turple :  (1, 2, 3, 4, 5, 'orange')

# Converting turple into a list

In [10]:
t1 = (1,2,3,4,5,"orange","Apple","Sword")
print("Current list : ",t1)

l1 = list(t1)
print(l1)

Current list :  (1, 2, 3, 4, 5, 'orange', 'Apple', 'Sword')
[1, 2, 3, 4, 5, 'orange', 'Apple', 'Sword']

# Turple Constructor

In [11]:
t3 = ((1,2,3,4,5,"orange","Apple","Sword"))
print(t3)

(1, 2, 3, 4, 5, 'orange', 'Apple', 'Sword')

# Adding Item into a tuple (after convertion to list)

In [26]:
# Create a turple
t3 = ("man","woman","girl","boy")
print("Current List : ",t3)
print(type(t3)) #Class type

#convert turple to list
a = list(t3)
print(a)
print(type(a))# Class type

#Add item into list
a[2] = "sand"
print("Sand added to list : ",a)

#Convert list back to turple
z = tuple(a)
print("New tuple : ",a)
print(type(z))

Current List :  ('man', 'woman', 'girl', 'boy')
<class 'tuple'>
['man', 'woman', 'girl', 'boy']
<class 'list'>
Sand added to list :  ['man', 'woman', 'sand', 'boy']
New tuple :  ['man', 'woman', 'sand', 'boy']
<class 'tuple'>

# For and while loop with tuple

In [27]:
# for loop
t4 = ("mango","Orange","pawpaw","pineaple")

for i in t4:
    print(i)

mango
Orange
pawpaw
pineaple

In [29]:
#while loop
t4 = ("mango","Orange","pawpaw","pineaple")
i = 0

while i < len(t4):
    print(t4[i])
    i = i+1
else:
    print("loop ends")

mango
Orange
pawpaw
pineaple
loop ends

# How to compare tuple

In [31]:
tup = (1,2,3,4)
tup1 = (1,2,3,5)

#tup is not equal to tup1
print(tup == tup1)

#tup greater than tup1
print(tup > tup1)

#tup is less than tup1
print(tup < tup1)

False
False
True